<%= turbo_frame_tag "articles" do %>
  <ul class="c-articles-list">
    <% articles.each do |article| %>
      <li>
        <%= render "article-preview", article: article %>
      </li>
    <% end %>
  </ul>
<% end %>