<%= turbo_frame_tag "articles" do %>
  <ul class="c-vertical-list">
    <% articles.each do |article| %>
      <li>
        <%= render "article_preview", article: article %>
      </li>
    <% end %>
  </ul>
<% end %>