<%= turbo_frame_tag "articles" do %>
  <% if articles.empty? %>
    <p class="l-section__empty">
      &mdash;&nbsp; No articles &nbsp;&mdash;
    </p>
  <% else %>
    <ul class="c-vertical-list">
      <% articles.each do |article| %>
        <li>
          <%= render "article_preview", article: article %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>