.l-section {
  &__header {
    @include spaceBetween;
    flex-wrap: wrap;
    gap: 1.6rem;
    background-color: var(--color-cards-bg);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-cards);
    padding: 1.6rem;
    margin-bottom: 3.2rem;
  }

  &__title {
    position: relative;
    font-size: 2.2rem;
    font-weight: 700;
    padding-left: 1.2rem;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 4px;
      background-color: var(--color-primary);
      border-radius: 100px;
    }
  }

  &__empty {
    font-weight: 1.6rem;
    font-weight: 600;

    text-align: center;
  }

  &__pagination {
    @include centerWithFlex;
    margin-top: 3.2rem;
  }
}