:root {
  // Color Pallete
  --color-primary-300: #9bc93e;
  --color-grey-100: #f4f2f2;
  --color-grey-150: #f0f2f5;
  --color-grey-175: #f0eeee;
  --color-grey-200: #e7e9ee;
  --color-grey-250: #d7d7d7;
  --color-grey-300: #ccc;
  --color-grey-400: #999;
  --color-grey-600: #65676b;
  --color-grey-950: #0f0f0f;
  --color-black: #000;
  --color-white: #fff;

  // Other color variables
  --color-primary: var(--color-primary-300);
  --color-text-primary: var(--color-grey-950);
  --color-text-secondary: var(--color-grey-600);
  --color-body-bg: var(--color-grey-150);
  --color-cards-bg: var(--color-white);

  // Header
  --header-height: 6rem;

  //  Border-radius
  --border-radius: 0.8rem;

   // Box shadows
   --shadow-1: 0 1px 2px rgba(0, 0, 0, 0.1);
   --shadow-2: 0 1px 2px rgba(0, 0, 0, 0.2);
   --shadow-cards: var(--shadow-2);

  // Separator lines
  --separator-line-1: 1px solid rgba(0, 0, 0, 0.1);

  // Main Container
  --main-container-max-width: 120rem;
}

// Breakpoints
$breakpoints: (
  'screen-md': 48em,
);

$bp-types: (
  'max': max-width,
  'min': min-width,
);