.c-article-preview {
  background-color: var(--color-cards-bg);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-cards);
  padding: 1.6rem;

  &__header {
    border-bottom: var(--separator-line-1);
    padding-bottom: 1.6rem;
    margin-bottom: 1.6rem;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
  }

  &__info {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-text-secondary);
  }

  &__body {
    font-size: 1.4rem;
    font-weight: 400;
  }
}