.c-input {
  width: 100%;
  font-size: 1.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.1rem;
  background-color: var(--color-grey-200);
  border: 1px solid var(--color-grey-250);
  border-radius: var(--border-radius);
  padding: 1.8rem 2rem 1.7rem 1.6rem;

  &::-webkit-input-placeholder,
  &::placeholder {
    color: var(--color-text-secondary);
  }

  &:focus {
    outline-color: var(--color-primary);
  }
}