.c-search-item {
  background-color: var(--color-cards-bg);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-cards);
  padding: 1.6rem;

  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 0.4rem;
  }

  &__count {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-text-secondary);
  }
}
